@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Chivo:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.main{
    height: 100%;
    width: 100%;
    color:#FFFFFF;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    height: 5vw;
}
.glitch h1{
    font-family:MuseoModerno;
    font-weight: 500;
    font-size:2.91vw;
    margin-left: 3.33vw;
    line-height:2.91vw;
}
.about{
    width: 29.5vw;
    display: flex;
    justify-content: space-between;
    margin-right: 3.33vw;

}
.about p{
    font-family: chivo;
    font-size:1.94vw;
    font-weight: 400;
    line-height:2.22vw;
    cursor: pointer; 
}
.about p a{
    color: white;
    text-decoration: none;
}

.page1{
    padding:3.33vw 0;
    margin:0 3.33vw;
    height: auto;
}

.landing{
    height: auto;
    padding: 5vw 0;
}
.welcome{
    margin-bottom: 2.22vw;
}
.welcome h1{
    font-family: chivo;
    font-weight: 900;
    font-size:8.33vw;
    line-height: 8.33vw;
    text-align: center;
    letter-spacing:-0.1vw;
}
.vibrant{
    height:46.66vw;
}
.vibrant img{
    border-radius: 3.88vw;
    height:100%;
    width: 100%;
    object-fit: cover;
}

.grid{
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows:masonry; */
    /* gap:2.22vw;
    column-count: 3; */
    /* width: 100%; */
    /* margin: 200px auto; */


    padding-top:2.22vw;
    columns:3;
    column-gap: 2.22vw;
}
#grid-item{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2.22vw;
}

.grid div img{
    width:28.88vw;
}
.grid div .p1{
    font-family: Archivo;
    font-size:1.38vw;
    font-weight: 500;
    line-height:1.66vw;
}
.grid div .p2{
    font-family: Archivo;
    font-size:1.18vw;
    font-weight: 200;
    line-height:1.66vw;
}

@media (min-width:481px) and (max-width:767px) {
    .grid{
        padding-top: 2.22vw;
        columns: 2;
        column-gap: 3vw;
    }
    .grid div img{
        width:100%;
        border-radius: 3.88vw;
    }
    .grid div .p1{
        font-family: Archivo;
        font-size:2.5vw;
        font-weight: 500;
        line-height:3vw;
    }
    .grid div .p2{
        font-family: Archivo;
        font-size:2vw;
        font-weight: 200;
        line-height:2vw;
    }
}
@media (max-width:480px) {
    .grid{
        padding-top: 2.22vw;
        columns: 1;
        column-gap: 2.22vw;
    }
    .grid div img{
        width:100%;
        border-radius: 3.88vw;
    }
    .grid div .p1{
        font-family: Archivo;
        font-size:3.8vw;
        font-weight: 500;
        line-height:4vw;
    }
    .grid div .p2{
        font-family: Archivo;
        font-size:2.7vw;
        font-weight: 200;
        line-height:2.7vw;
    }
}



/* .grid div{
    width:29.62vw;
} */

/* #img1{
    height: 22.56vw;
}
#img2{
    height: 29.02vw;
}
#img3{
    height: 16.38vw;
}
#img4{
    height: 16.38vw;
}
#img5{
    height:22.56vw;
}
#img6{
    height:29.02vw;
}
#img7{
    height: 29.02vw;
}
#img8{
    height: 16.38vw;
}
#img9{
    height: 22.56vw;
} */

.artist{
    padding:5vw 0;
}

.passage p{
    font-family: chivo;
    font-size: 3.33vw;
    font-weight: 400;
    line-height: 3.61vw;
    text-align: center;
    letter-spacing:;
}